.containers{
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 50%;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 30px;
    border-radius:8px ;
    margin-left: -5%;
}
.left{
    width: 50%;
    height: 450px;
    border-radius:8px ;

}
@media only screen and (max-width:768px) {
    .containers{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width:90%;
        margin: 0;
    }
    
}