.containers{
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 50%;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 248, 251);
    padding: 30px;
    border-radius:8px ;
    margin-left: -4%;
}
.left{
    width: 55%;
    height: 430px;
    border-radius:8px ;

}
@media only screen and (max-width:768px) {
    .containers{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width:90%;
        margin: 0;
    }
    
}