.navlinks a {
    font-weight: bold;
    text-decoration: none;
}

.MenuList button {
    background: black;
    color: white;
    padding: 10px;
}

.MenuList {
    height: 80vh;
    background: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.MenuList-zostel {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
}

.MenuList-zostel button {
    background: black;
    color: white;
}

.chakra-text div {
    border: none;
    box-shadow: none;
    background: transparent;
}

@media (min-width:375px) {
    .logotxt {
        font-size: 1rem;
    }
}

@media (min-width:425px) {
    .logotxt {
        font-size: 1rem;
    }
}

@media (min-width:960px) {
    .navlinks {
        gap: 20px;
    }

    .navlinks a {
        font-size: .8rem;
    }

    .navlinks p {
        margin: 0;
    }

    .dropdown_links {
        font-size: .8rem;
    }

    .MenuList-zostel {
        height: 200vh;
    }

    .MenuList {
        height: 200vh;
    }
}

@media(min-width:1024px) {
    .navlinks {
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    .navlinks a {
        font-size: .8rem;
    }

    .dropdown_links {
        font-size: .8rem;
    }
}

@media(min-width:1200px) {
    .navlinks a {
        font-size: 1rem;
    }

    .dropdown_links {
        font-size: 1rem;
    }

    .MenuList-zostel {
        height: 140vh;
    }
}