body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  font-weight: 600;
  color: black;
  text-decoration: none;
  line-height: 1.5;
}